godata/*
!godata/.keepme

gohome/.cache/*
gohome/.docker/*
gohome/.pex/*
gohome/.pylint.d/*
gohome/.ssh/*
!gohome/.ssh/config

gitea/git/*
gitea/gitea/gitea.db
gitea/gitea/data/*
gitea/gitea/indexers/*
gitea/gitea/sessions/*
gitea/gitea/log/*
gitea/gitea/ssh/*
gitea/ssh/*
