.agentAutoRegisterKey
.agent_env
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log

godata/*
!godata/.keepme

gohome/.cache/*
gohome/.docker/*
gohome/.pex/*
gohome/.pylint.d/*
gohome/.ssh/*
!gohome/.ssh/config

gogs/git/*
gogs/gogs/data/*
gogs/gogs/log/*
gogs/gogs/ssh/*
gogs/ssh/*
